<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista zadataka</title>
    <style>
        .container {
            display: flex;
        }
        .user {
            width: 200px;
            padding: 10px;
            border-right: 2px solid black;
        }
        .tasks {
            flex-grow: 1;
            padding: 10px;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="user">
        <h3>User</h3>
        <p th:text="${user.userName}"></p>
    </div>

    <div class="tasks">
        <h1>Tasks list:</h1>
        <form th:action="@{/tasks/new}" method="GET">
            <button type="submit">Add New Task</button>
        </form>

        <div th:if="${user.group != null}">
            <ul>
                <li th:each="task : ${tasks}" th:text="${task.taskName}"></li>
            </ul>
        </div>
    </div>
    <div class="connect-options">
        <a href="/connect/generate" class="button">Generiši kod</a>
    </div>
    <form th:action="@{/logout}" method="POST">
        <button type="submit">Logout</button>
    </form>
</div>
</body>
</html>
